docs/diagrams/out

# NetBeans Project
nbproject

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# vim
*.swp
tags

build/
site/
coverage/
doxygen/

# make
CMakeFiles/
CMakeDoxyfile.in
*.cmake
!cmake/*.cmake
CMakeCache.txt
Makefile
__pycache__/

libanj.a

/doc/sphinx/conf.py
/anjay_lite_bc_initialization
/anjay_lite_bc_mandatory_objects
/anjay_lite_bc_send
/anjay_lite_at_bootstrap
/anjay_lite_firmware_update
/dm_tests
/io_tests
/io_tests_without_extended
/coap_tests
/observe_tests
/observe_without_composite_tests
/dm_without_composite_tests
/exchange_tests
/core_tests
/net_tests
/anj_config
/cxx_header_check
